.group_header,
.q-table th {
  font-weight: bold;
  color: #012d5d;
}

.list-items{
    font-weight: bold;
  font-size: large;
  color: #012d5d;

}
.item {
  font-weight: bold;
  font-size: large;
  color: #012d5d;

}
.item-small {
  font-weight: bold;
  font-size: medium;
  color: #012d5d;

}